<div
  class="container-fluid"
  style="
    height: 100vh;
    background: url(assets/beach.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
  "
>
  <div
    class="row bg-info justify-content-center sticky-top font-weight-bold"
    style="height: 60px"
  >
    <div
      class="col-12 d-flex justify-content-center align-items-center"
      style="font-size: 17px; color: black !important"
    >
      <img
        src="assets/book.svg"
        alt=""
        style="height: 20px; margin-top: 18px"
      />
      <div style="margin-top: 15px">English Dictionary</div>
    </div>

    <div class="row" style="height: 300px; margin-top: 30vh !important">
      <div
        class="col-12 col-md-12 rounded text-light d-flex justify-content-center align-items-center"
      >
        <div
          class="col d-flex flex-column justify-content-center align-items-center"
          style="
            height: 300px;
            border: 2px solid rgb(76, 6, 90);
            box-shadow: 2px 3px 3px 4px black;
          "
          [formGroup]="fbFormGroup"
        >
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="uiInvalidCredential"
          >
            A simple danger alert—check it out!
          </div>

          <div
            class="h4 font-weight-bold"
            style="font-size: 2rem; color: white !important"
          >
            Sign Up
          </div>

          <div>
            <input
              type="text"
              placeholder="Enter Username"
              class="form-control"
              formControlName="username"
            />
          </div>

          <div class="mt-1">
            <input
              type="password"
              placeholder="Enter Password"
              class="form-control"
              formControlName="password"
            />
          </div>

          <div class="mt-1">
            <input
              type="text"
              placeholder="Enter Email"
              class="form-control"
              formControlName="email"
            />
          </div>

          <div class="mt-1">
            <input
              type="text"
              placeholder="Enter Mobile"
              class="form-control"
              formControlName="mobile"
            />
          </div>

          <button
            class="btn btn-sm btn-dark mt-2 mb-2"
            style="opacity: 0.9"
            [disabled]="!fbFormGroup.valid"
            (click)="registerHere()"
          >
            Sign Up Here
          </button>

          <a routerLink="/login" style="color: black">Login Here</a>
        </div>
      </div>
    </div>

    <!-- Right Block-->
  </div>
</div>
